*.o
.vscode
Makefile
Makefile.in
**/Makefile
**/Makefile.in
**/*.o
configure
ar-lib
aclocal.m4
compile
depcomp
install-sh
missing
config.*
autom4te.cache
*~
**/.deps
**/*.a
**/stamp-h1
**/config.h
examples/example01
libhpdftbl.code-workspace
m4
libtool
ltmain.sh
src/.libs
src/*.lo
src/*.la
*.xz
*.gz
.idea
examples/.libs
examples/example??
examples/tut_ex??
examples/tut_ex??_?
examples/verify.sh
examples/out
doxyconf
*.swp
Doxyfile
doxyref
null.d
_bld
docs/out
scripts/docupload.sh




